.App {
  text-align: center;
}

.App-header {
  background-color: #7EC8E3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.infoChat {
  background: #007FFF;
  box-shadow: 0px 4px 26px rgb(0 0 0 / 25%), inset 0px 0px 68px rgb(0 0 0 / 44%);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: 80px;
  bottom: 68px;
}

.infoChat_popup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  background-color: #ffffff;
  color: #121212;
  border-radius: 5px;
  right: 132%;
  width: 449px;
  height: 105px;
}

.infoChat_popup::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  left: 99%;
  transform: rotate(270deg);
}

.infoChat_popup-title {
  font-weight: 600;
  font-size: 19px;
  line-height: 135.9%;
}

.infoChat_popup-dropdown {
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 119px;
  height: 38px;
  background: #0766C7;
  border: 1px solid #007FFF;
  border-radius: 6px;
}

.infoChat_popup-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}



.infoChat_popup-list > li {
  text-align: center;
  padding: 13px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.infoChat_popup-list > li:hover {
  background: #D9D9D9;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .infoChat {
    right: 66px;
    bottom: 82px;
  }
}

@media only screen and (max-width: 480px) {
  .infoChat {
    width: 60px;
    height: 60px;
    right: 26px;
    bottom: 60px;
  }

  .infoChat > img {
    width: 35px;
  }
}
