.App {
  text-align: center;
}

.App-header {
  background-color: #7EC8E3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.infoChat {
  background: #007FFF;
  box-shadow: 0px 4px 26px rgb(0 0 0 / 25%), inset 0px 0px 68px rgb(0 0 0 / 44%);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  right: 80px;
  bottom: 78px;
}

.infoChat:hover {
  cursor: pointer;
}

.infoChat_popup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  background-color: #ffffff;
  color: #121212;
  border-radius: 5%;
  right: 116%;
  bottom: 5%;
  width: 449px;
  height: 105px;
}

.infoChat_popup > div > input {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 0 4px;
}

.infoChat_popup::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  left: 99%;
  transform: rotate(270deg);
}

.infoChat_popup-title {
  font-weight: 600;
  font-size: 19px;
  line-height: 135.9%;
}

.infoChat_popup-dropdown-input:hover {
  cursor: pointer;
}

.infoChat_popup-dropdown {
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 119px;
  height: 38px;
  background-color: #007FFF;
  border: 1px solid #007FFF;
  border-radius: 6px 0 0 6px;
  width: 119px;
  height: 38px;
  padding: 13px 38px 13px 10px;
}

.infoChat_popup-dropdown-opened {
  background: url('../src/assets/arrow_up.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 119px;
  height: 38px;
  background-color: #0766C7;
  border: 1px solid #007FFF;
  border-radius: 0 6px 6px 0;
  padding: 13px 20px 13px 10px;
}

.infoChat_popup-dropdown-closed {
  background: url('../src/assets/arrow_down.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 119px;
  height: 38px;
  background-color: #0766C7;
  border: 1px solid #007FFF;
  border-radius: 0 6px 6px 0;
  padding: 13px 20px 13px 10px;
}

.infoChat_popup-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: max-content;
  margin-top: 15px;
}



.infoChat_popup-list > li {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.infoChat_popup-list > li:hover {
  background: #D9D9D9;
  color: black;
  cursor: pointer;
}

.countdown {
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 !important;
  padding-top: 70px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown_inner {
  background-color: white;
  width: 273px;
  height: 273px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 150px;
  line-height: 183px;
  color: #007FFF;
}

.send_rec-inner {
  justify-content: center;
  align-content: space-evenly;
  width: 655.5px;
  height: 531px;
  background-color: white;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 150px;
  line-height: 183px;
  display: grid;
}

.send_rec-inner_text {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  margin-top: 0;
}

.send_rec-inner_btn {
  width: 210px;
  background-color: #007FFF;
  width: 120.38px;
  height: 50.3px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border: none;
  margin-left: auto;
}

.send_rec-inner_btn-img {
  border: none !important;
}

.send_rec-inner_btn:hover {
  cursor: pointer;
}

.send_rec-inner > span > img {
  border: 1px solid #007FFF;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.send_rec-inner > span {
  display: flex;
  align-items: flex-start;
}

.send_rec-inner-close {
  position: relative;
  right: -7%;
  top: 22px;
  display: flex;
}

.send_rec-inner-close_final {
  right: -11% !important;
}

.send_rec-inner > textarea {
  width: 93%;
  height: 100.59px;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  padding: 10px 4px;
}

.recording {
  width: 244px;
  height: 61px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  background: #000000;
  backdrop-filter: blur(3.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 35px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 2%;
  right: 2%;
  position: fixed;
}

.recording:hover {
  cursor: move;
}

.recording_inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.recording-time {
  color: white;
  opacity: 1;
}

.recording-pause {
}

.recording-stop {
}

.recording-close {
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control:hover {
  cursor: pointer;
}

.infoChat_popup-modal_inner > div {
  position: relative;
}

.infoChat_popup-modal-list {
  padding: 3rem;
  position: inherit;
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 10px;
}

.infoChat_popup_modal-close {
  display: none;
}

.infoChat_popup-list-md {
  display: none;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.infoChat_popup-list-md > li {
  text-align: center;
  padding: 13px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.infoChat_popup-list-md > li:hover {
  cursor: pointer;
}

.send_rec-inner-img-no_border {
  border: none !important;
}

@media only screen and (max-width: 783px) {
  .infoChat {
    right: 66px;
    bottom: 82px;
  }

  .infoChat_popup-dropdown  {
    display: none;
  }

  .infoChat_popup-dropdown-opened {
    display: none;
  }

  .infoChat_popup-dropdown-closed {
    display: none;
  }

  .infoChat_popup {
    display: grid !important;
  }

  .infoChat_popup-modal {
    display: flex;
  }

  .infoChat_popup-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 149.4%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: -26%;
    width: 410px;
    margin-top: -34%;
  }

  .send_rec-inner_text {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  }

  .infoChat_popup-modal-ative {

  }

  .infoChat_popup-list > li {
    padding: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }

  .infoChat_popup-list_selected {
    background-color: blue;
    color: white;
  }

.send-rec_modal {
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 !important;
  padding-top: 70px;
  color: black;
  justify-content: center;
  align-items: center;
}

.send-rec_modal-inner {
  max-height: 100%;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  animation: slide-up 0.4s ease;
  width: 100%;
  width: 92%;
  height: 594px;
  display: grid;
  justify-content: center;
  right: auto;
  top: 17%;
  align-items: stretch;
}

.infoChat_popup-modal {
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 !important;
  padding-top: 70px;
  color: black;
  justify-content: center;
  align-items: center;
}

.infoChat_popup-modal_inner {
    max-height: 100%;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    animation: slide-up 0.4s ease;
    width: 100%;
    width: 69%;
    height: 530px;
    display: grid;
    justify-content: center;
    right: auto;
    top: 17%;
    align-items: stretch;
  }

  .infoChat_popup_modal-close {
    display: block;
    position: fixed;
    top: 20%;
    right: 19%;
  }

  .infoChat_popup-list {
    display: none;
  }
  .infoChat_popup-list-md {
    display: block;
    padding: 40px 0 40px 0;
    margin-top: -19%;
    background-color: #D9D9D9;
    box-shadow: none;
    border-radius: 10px;
  }

  .infoChat_popup-list-md > li {
    padding: 21px 0px;
    margin: 0 50px;
    border-radius: 7px;
    
  }

  .active {
    background: rgba(0, 127, 255, 0.7);
    border-radius: 7px;
    color: white;
  }

.infoChat_popup::after {
  display: none;
}
}

@media only screen and (max-width: 480px) {
  .infoChat {
    width: 60px;
    height: 60px;
    right: 26px;
    bottom: 20px;
  }

  .countdown_inner {
    width: 133px;
    height: 133px;
    font-weight: 500;
font-size: 60px;
line-height: 73px;
  }

  .recording_inner {
    width: 100%;
    flex-wrap: wrap;
    display: grid;
    padding: 22px;
    align-self: stretch;
  }
  .send_rec-inner {
    width: 80%;
    height: 372px;
  }

  .send_rec-inner_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .send_rec-inner> img {
    width: 80%;
  }

  .send_rec-inner> textarea {
    width: 80%;
    margin: 0 auto;
    height: 65.59px;
  }

  .infoChat_popup-list > li {
    padding: 12px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  
  .infoChat_popup_modal-close > img {
    width: 18px;
    right: 10%;
  }


  .infoChat > img {
    width: 35px;
  }

  .infoChat_popup-modal-list {
    padding: 2rem 1.4rem;
  }

  .infoChat_popup-modal_inner {
    width: 90%;
    height: 366px;
    top: 25%;
  }

  .infoChat_popup_modal-close {
    top: 27%;
    right: 11%;
  }

  .infoChat_popup-list-md > li {
    margin: 0 35px;
    padding: 11px  5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .infoChat_popup-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 149.4%;
    top: 0;
    text-align: center;
    position: absolute;
    width: 366px;
    margin-top: 10%;
    width: 100%;
  }

  .infoChat_popup-list-md {
    margin-top: 55%;
    list-style: none;
    padding: 16px 0 17px;
    position: relative;
  }

  .recording_inner-rotate {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  .recording {
    width: 61px;
    height: 186px;
    top: 20%;
    top: 120px;
    right: 20px;
  }
  
  .send_rec-inner > span > img {
    width: 80%;
    margin-top: 0;
  }

  .send_rec-inner_btn {
    margin-right: 8%;
    width: 96px;
    height: 40.11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .send_rec-inner-img-no_border {
    width: 248px;
    height: 248px;
  }

  .send_rec-inner-close {
    right: 5%;
    top: 5%;
  }

  .send_rec-inner-close > img {
    width:17px;
    height: 17px;
  }
}

@media only screen and (max-width: 350px) {
  .send_rec-inner-close_final {
    right: 5% !important;
  }
  
}
